{
  "plugins": [],
  "tabWidth": 4,
  "useTabs": false,
  "endOfLine": "lf",
  "insertFinalNewline": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.yml", "*.yaml", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
